* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#home, #zonas, #zonas-explicacao, #nino-nina, #explicacao-nino-nina {
    position: relative;
}

body {
    width: 100vw;
}

header {
    z-index: 15;
    font-family: "Abhaya Libre", serif;
    height: 200px;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
}

header img {
    padding: 20px;
    height: 120px;
}

header ul {
    width: 50vw;
    background-color: rgba(114, 13, 13, 0.63);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px; 
}

header ul li {
    list-style-type: none;
    flex-grow: 1;
    text-align: center; 
}

header a {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

header a:hover {
    transform: scale(1.1);
    opacity: 0.8; 
}


header ul li a {
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px 0;
    transition: color 0.3s ease, transform 0.3s ease;
}

header ul li a:hover {
    color: white; 
    transform: scale(1.1); 
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

main {
    width: 100%;
}

#home {
    font-family: "Abhaya Libre", serif;
    background-image: url('./images/Mapa\ mundi\ mascara.png');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat; 

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200vh;
    color: #720D20; 
    overflow: hidden;
}

.textura {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10; 
    opacity: 0.8; 
}


.amassada {
    background-image: url('./images/textura\ amassada.png');
    opacity: 0.3;
}


.sujeira {
    background-image: url('./images/textura\ sujeira.png'); 
    opacity: 0.1;
}


#home h2 { 
    font-size: 8vw;
    font-weight: 700;
    position: relative; 
    z-index: 11; 
}

#home h1 {
    font-size: 12vw;
    font-weight: 900;
    position: relative;
    z-index: 11;
}

#home h3 {
    margin-top: 4vh;
    font-size: 3vw;
    font-weight: 700;
    position: relative;
    z-index: 11;
}

#home p {
    text-align: center;
    width: 28vw;
    font-size: 1.5vw;
    position: relative;
    z-index: 11;
}

#home div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home div:last-child {
    z-index: 16;
    margin-top: 100px;
    font-size: 20px;
}

main {
    width: 100%;
}

#zonas {
    z-index: 9;
    font-family: "Abhaya Libre", serif;
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    position: relative; /* Necessário para o posicionamento absoluto das texturas */

}

#zonas .conteudo {
    box-shadow: 0px 10px 20px 6px rgba(0,0,0,0.50);
    background-color: #F6EFE4; /* Cor de fundo */
    z-index: 11;  /* Colocando o conteúdo acima da textura */
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    position: relative;
}

.textura {
    position: absolute; /* Garantindo que a textura cubra toda a área */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10; /* A textura deve estar acima do fundo, mas abaixo do conteúdo */
    opacity: 0.8;
}

.amassada {
    background-image: url('./images/textura\ amassada.png');
    opacity: 0.3;
}

.sujeira {
    background-image: url('./images/textura\ sujeira.png');
    opacity: 0.1;
}

#zonas h1 {
    z-index: 12;  /* Garantindo que o título esteja acima da textura */
    color: #720D20; 
    margin-top: 50px;
    font-size: 8vh;
}

#zonas img {
    z-index: 13; 
    margin-bottom: 20px;
    height: 90%;
    width: 90%;  
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

#zonas img:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#zonas-explicacao {
    background-image: url('./images/Mapa\ mundi\ mascara.png');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;   

    font-family: "Abhaya Libre", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200vh;
}

.header-explicacao-zonas {
    display: flex; /* Utiliza Flexbox */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    flex-direction: column; /* Organiza os itens em coluna */
    width: 60%; /* Garante que o container ocupe toda a largura */
    text-align: center; /* Centraliza o texto dentro dos elementos */
}

#zonas-explicacao h1 {
    color: #720D20; 
    font-size: 120px;
    padding-top: 20px;
}

#zonas-explicacao p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #720D20;
    color: white; 
    font-size: 32px;
    padding: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.polar {
    padding: 50px;
    padding-top: 100px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.polar img {
    height: 80vh;
}

#txtpolar {
    background-color: #F6EFE4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    border: 2px solid black;
}

#txtpolar h2{
    color: #720D20;
    font-size: 80px;
}

#txtpolar span{
    padding-left: 20px;
    padding-right: 20px;
    color: #720D20;
    font-size: 40px;
    font-weight: 700;
}

.temperado {
    padding: 50px;
    padding-top: 200px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.temperado img {
    height: 60vh;
}

#txttemperado {
    background-color: #F6EFE4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    border: 2px solid black;
}

#txttemperado h2{
    color: #720D20;
    font-size: 80px;
}

#txttemperado span{
    padding-left: 20px;
    padding-right: 20px;
    color: #720D20;
    font-size: 40px;
    font-weight: 700;
}

.tropical {
    padding: 50px;
    padding-top: 300px;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tropical img {
    padding-right: 8vw;
    height: 60vh;
}

#txttropical {
    background-color: #F6EFE4;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    border: 2px solid black;
}

#txttropical h2{
    color: #720D20;
    font-size: 80px;
}

#txttropical span{
    padding-left: 20px;
    padding-right: 20px;
    color: #720D20;
    font-size: 40px;
    font-weight: 700;
}

#nino-nina {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#nino-nina h1 {
    font-family: "Abhaya Libre", serif;
    font-size: 70px;
    color: #720D20;
    margin-top: 120px;
}

#nino-nina a {
    gap: 40px;
    display: flex;
}

#nino-nina img {
    border: 2px solid black;
    box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.3);
    height: 80%;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

#nino-nina img:hover {
    transform: scale(1.05);
}

#explicacao-nino-nina {
    background-image: url('./images/Mapa\ mundi\ mascara.png');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;   

    font-family: "Abhaya Libre", serif;
    width: 100%;
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.informacoes-nino-nina {
    margin-top: 20px;
    width: 95%;
    height: fit-content;
    background-color: #F6EFE4;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.2);
}

.informacoes-nino-nina h1{
    color: #720D20;
    margin-top: 10px;
    font-size: 80px;
}

.informacoes-nino-nina h2{
    color: #720D20;
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration: underline;
}

.foto-info-nino-nina {
    display: flex;
    gap: 50px;
}

.informacoes-nino-nina img {
    margin-bottom: 40px;
    height: 50vh;
}

.container-txt-nino-nina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-txt-nino-nina h1{
    color: #720D20;
    margin-top: 25px;
    font-size: 70px;
}

.container-nino {
    gap: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nino img {
    height: 50vh;
}

.container-nino-txt {
    padding: 20px;
    width: 48%;
    background-color: #F6EFE4;
    border: 2px solid black;
    box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.2);
}

.container-nino-txt h2 {
    color: #720D20;
    font-size: 80px;
}

.container-nino-txt p {
    color: #720D20;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    font-weight: 600;
}

.container-nina {
    gap: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-nina img {
    height: 60vh;
}

.container-nina-txt {
    padding: 20px;
    width: 48%;
    background-color: #F6EFE4;
    border: 2px solid black;
    box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.2);
}

.container-nina-txt h2 {
    color: #720D20;
    font-size: 80px;
}

.container-nina-txt p {
    color: #720D20;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    font-weight: 600;
}

#massa-ar {
    background-image: url('./images/Mapa\ mundi\ mascara.png');
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;   
    font-family: "Abhaya Libre", serif;

    width: 100%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

#massa-ar h1 {
    margin-top: 20px;
    color: #720D20;
    font-size: 80px;
}

.mapa-massas-ar {
    height: fit-content;
    display: flex;
    gap: 120px;
    padding-bottom: 70px;
}
.mapa-massas-ar img {
    height: 800px;
}

.txt-massa-ar {
    box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.2);   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%; 
}

.titulo-massa-ar {
    background-color: #867869;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;

}

.txt-massa-ar h2 {
    width: 100%;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 40px;
} 

.txt-massa-ar p {
    width: 100%;
    font-size: 18px;
    background-color: #F6EFE4;
}

#rodape {
    height: 30vh;
    width: 100%;
    
}